.card {
  &-body {
    .content {
      margin-top: 0;

      .page-header {
        display: flex;
        justify-content: space-between;

        .page-action {
          cursor: pointer;

          .export-import {
            padding: 5px 0;
          }
        }
      }

      .page-content {
        padding: 30px 0px;
      }
    }
  }
}